---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-*,
  -llvm-header-guard,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-owning-memory,
  -google-runtime-references,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-number,
  -readability-magic-numbers
WarningsAsErrors: true
HeaderFilterRegex: 'fts/'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: '1'
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 'true'
  - key:   hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 'true'
...
